section.program
    .program__back 
        img(src="img/svg/program/back.svg", alt="")
    .l-default 
        h2.program__title.title.title--h2 Программа марафона
    .l-default 
        .program__wrapper
            .program__text Действующий управляющий и аналитики расскажут:
            .program__item
                .program__item-title Разбор вопросов
                .program__list
                    .program__list-item Что делать в сложившейся ситуации с капиталом, стоит ли доверять депозитам?
                    .program__list-item Почему доллар все это время падает и стоит ли его вообще покупать?
                    .program__list-item Стоит ли прятаться в облигациях на время турбулентности?
                    .program__list-item Что делать с акциям, если не успел выйти до коррекции?
            .program__item.program__item--white  
                .program__item-title Как будет проходить?
                .program__list
                    .program__list-item Два эфира с Сергеем Пироговым
                    .program__list-item Материалы от команды аналитики
                    .program__list-item Чат в течении 5 дней с Сергеем и командой