section.main-top
    .main-top__back.main-top__back--top
        img(src="img/svg/main-top/back-top.svg", alt="")
    .main-top__back.main-top__back--bottom
        img(src="img/svg/main-top/back-bottom.svg", alt="")
    .l-default 
        .main-top__wrapper
            .main-top__info
                .main-top__description <strong>FREE</strong> Марафон
                h1.main-top__title.title.title--h1 Как сохранить и приумножить капитал 
                .main-top__subtitle в условиях неопределенности?
                .main-top__text Подготовите свой капитал к продолжительной турбулентности и будете готовы вовремя зайти в нужные активы, чтобы не только сохранить, но и приумножить!
                .main-top__bottom
                    a.main-top__btn.btn.btn--blue.scroll(href="#bottom")
                        .btn__text Участвовать
                        .btn__icon
                            img.lazy(data-src="img/svg/like.svg", alt="")
                    .main-top__date
                        .main-top__date-text Будет проходить в онлайне
                        .main-top__date-days 25 - 29 мая
            .main-top__speakers
                .main-top__speaker
                    .main-top__speaker-img
                        +webp(['speakers/pirogov'], 'jpg', 'lazy')
                    .main-top__speaker-name Сергей Пирогов
                    .main-top__speaker-position CEO Invest Heroes
                    .main-top__speaker-description Главный управляющий IH будет проводить эфиры на марафоне
                .main-top__speaker
                    .main-top__speaker-img
                        +webp(['speakers/sayganov'], 'jpg', 'lazy')
                    .main-top__speaker-name Александр Сайганов
                    .main-top__speaker-position Head of Research
                    .main-top__speaker-description Вместе с командой аналитиков ответит на ваши вопросы
        .main-top__dots     
            img.lazy(data-src="img/svg/dots.svg", alt="")